body
  min-width: 320px
  overflow-x hidden
  font-size 16px
  font-family $Light

.content
  width 1410px  
  margin 0 auto
  &.content-relative
    position relative
    z-index 2
a
  text-decoration none