body
  min-width: 320px
  overflow-x hidden
  font-size 16px
  font-family $Light

.content
  width 1410px  
  margin 0 auto
  &.content-relative
    position relative
    z-index 2
a
  text-decoration none

.title
  text-align center
  margin-bottom 20px


h2
  font-size 20px
  line-height 23px
  letter-spacing: 2px;
  font-family $Bold
  color $bk
  text-transform uppercase
  span
    color #9E8B6B

p
  letter-spacing: 2px;
  font-size 15px
  line-height 23px
  color $bk
  font-family $Light