mixin advantages(data)
  section.advantages
    .content

      .advantages-items

        //- Advantages Item
        .advantages-item
          span Мы лучшие
          p Lorem ipsum dolor sit amet, consectetur adipiscing elit
        
        //- Advantages Item
        .advantages-item
          span Мы лучшие
          p Lorem ipsum dolor sit amet, consectetur adipiscing elit
        
        //- Advantages Item
        .advantages-item
          span Мы лучшие
          p Lorem ipsum dolor sit amet, consectetur adipiscing elit
        
        //- Advantages Item
        .advantages-item
          span Мы лучшие
          p Lorem ipsum dolor sit amet, consectetur adipiscing elit