mixin advantages(data)
  section.advantages
    .content

      .advantages-items

        //- Advantages Item
        .advantages-item
          span Мы лучшие
          p Lorem ipsum dolor sit amet, consectetur adipiscing elit
        
        //- Advantages Item
        .advantages-item
          span Но можем еще лучше
          p Nam sit amet lectus sit amet nisi semper viverra id nec nisi
        
        //- Advantages Item
        .advantages-item
          span Лучше не найдете
          p Pellentesque mollis fermentum ultrices. Donec vestibulum urna
        
        //- Advantages Item
        .advantages-item
          span Даже не пытайтесь
          p Nullam quis congue neque, id pretium dolor.