mixin header(data)
  header.header
    .header-top
      .content

        .header-wrapper

          .header-phone
            a(href="tel:+1 (234) 567-8901") +1 (234) 567-8901

          .header-logo
            a(href="index.html").logo
              img(src="static/img/assets/header/logo.svg", alt="")
          
          .header-right

            .header-search
              a(href="#")
                img(src="static/img/assets/header/search.svg", alt="")
            
            .header-account
              a(href="#")
                img(src="static/img/assets/header/acc.svg", alt="")
            
            a(href="#tocart").header-cart
              .header-cart__icon
                img(src="static/img/assets/header/cart.svg", alt="")
              .header-cart__value 3
  
    .header-bottom
      .content

        nav.menu
          ul
            li
              a(href="#") Спальня 
            li
              a(href="#") Ванная
            li
              a(href="#") Детская
            li
              a(href="#") Столовая
            li
              a(href="#") Подарки
            li
              a(href="#") Пошив на заказ
            li
              a(href="#") Вышивка
            li
              a(href="#") Шоурум