.header
  &-top
    border-bottom 1px solid #D4D1D1
    box-sizing: border-box
  &-wrapper
    display flex
    justify-content space-between
    align-items center
    height 120px

  &-phone
    a
      color $bk
      font-size 17px
      line-height 23px
      font-family $Light
  &-right
    display flex
    align-items center
    justify-content flex-end
    > div
      margin-right 30px
      &:last-child
        margin-right 0

  &-cart
    position relative
    &__value
      min-width 14px
      position absolute
      right -4px
      top -4px
      min-height 14px
      background #9E8B6B
      border-radius: 50%
      display flex
      justify-content center
      align-items center
      font-size 10px
      padding 2px 4px
      box-sizing: border-box
      font-family $Bold
      color $wh


.header-bottom
  padding-top 19px
  padding-bottom 14px
nav.menu
  ul
    display flex
    justify-content center
    align-items center
  li
    margin-right 35px
    &:last-child
      margin-right 0
    a
      font-size 16px
      line-height 21px
      color $bk
      font-family $Light
      padding-bottom 3px
      position relative
      &:hover
        &::after
          width 100%
      &::after
        content ''
        position absolute
        bottom 0
        left 0
        height 1px
        background $bk
        transition all 0.3s ease-in-out
        width 0
a.logo
  display block
  img
    width auto
    max-width: 100%
    object-fit: contain

.ham 
  width 50px
  cursor: pointer
  -webkit-tap-highlight-color: transparent
  transition: transform 400ms
  -moz-user-select: none
  -webkit-user-select: none
  -ms-user-select: none
  user-select: none

.hamRotate.active 
  transform: rotate(45deg)


.line 
  fill:none
  transition: stroke-dasharray 400ms, stroke-dashoffset 400ms
  stroke: $bk
  stroke-width: 5.5
  stroke-linecap:round

.ham1 .top 
  stroke-dasharray: 40 139

.ham1 .bottom 
  stroke-dasharray: 40 180

.ham1.active .top 
  stroke-dashoffset: -98px

.ham1.active .bottom 
  stroke-dashoffset: -138px

.burger
  display none