.slider
  position relative
  margin-bottom 60px
  .slick-slide
    outline: none
.slider-block
  display block
  width 100%
  outline: none
  height 540px
  &.blue
    background #E1E0FE
  &.red
    background #FF9595
  &.green
    background #95FFCE
  &.violet
    background #C995FF
  &.yellow
    background #FFEB95
  
.slick-dots
  position absolute
  bottom 20px
  left 50%
  transform: translateX(-50%)
  display flex
  align-items center
  li
    margin-right 12px
    &:last-child
      margin-right 0
    button
      font-size: 0
      border: none 
      background #979797
      padding 0
      width 8px
      outline: none 
      cursor pointer
      border-radius: 50%
      height 8px
      transition: all 0.4s ease-in-out
    &.slick-active
      button
        background #212212
