mixin slider(data)
  section.slider

    .slider-items

      //- Slider Item
      .slider-item
        .slider-block.blue

      //- Slider Item
      .slider-item
        .slider-block.red

      //- Slider Item
      .slider-item
        .slider-block.green

      //- Slider Item
      .slider-item
        .slider-block.violet
        
      //- Slider Item
      .slider-item
        .slider-block.yellow
        
        