mixin custom(data)
  section.custom
    .content

      .custom-top
        .title
          h2 Кастомный дизайн 
            span - это круто
        .paragraph
          p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam sit amet lectus sit amet nisi semper viverra id nec nisi. Pellentesque mollis fermentum ultrices. Donec vestibulum urna nec vehicula dictum. Nullam quis congue neque, id pretium dolor. Aliquam semper ligula nec ullamcorper congue. Praesent in lectus commodo, porttitor sem non, finibus metus. Nulla lacinia risus eu maximus eleifend. Mauris non lacinia nisi. Proin vitae lorem lacus.
        
        .custom-link
          a(href="#") Подробнее
      


      .custom-items

        //- Custom Item
        .custom-item.red.third
      
        //- Custom Item
        .custom-item.blue.third

        //- Custom Item
        .custom-item.green.third

        //- Custom Item
        .custom-item.violet.two
      
        //- Custom Item
        .custom-item.yellow.two