.custom
  &-top
    text-align center
    width: 81.57894736842105%
    margin 0 auto
    margin-bottom 60px
    .paragraph
      margin-bottom 10px
  &-link
    a
      font-size: 14px;
      line-height: 18px;
      text-decoration underline
      color $bk


  &-items
    display flex
    flex-wrap: wrap
    justify-content: space-between
    margin-bottom 53px
  &-item
    height 560px
    margin-bottom 7px
    &.third
      width 32.97872340425532%
    &.two
      width 49.71631205673759%
    &.blue
      background #95B7FF
    &.red
      background #FF9595
    &.green
      background #95FFCE
    &.violet
      background #C995FF
    &.yellow
      background #FFEB95