.custom
  &-top
    text-align center
    width: 81.57894736842105%
    margin 0 auto
    margin-bottom 60px
    .paragraph
      margin-bottom 10px
      p
        letter-spacing: 2px
  &-link
    a
      font-size: 14px;
      line-height: 18px;
      text-decoration underline
      color $bk


  &-items
    display flex
    flex-wrap: wrap
    justify-content: space-between
    margin-bottom 53px
    
  &-item
    height 560px
    margin-bottom 7px
    transition: all 0.4s ease-in-out
    &.third
      width 32.97872340425532%
    &.two
      width 49.71631205673759%
    &.blue
      background #95B7FF
      &:hover
        background darken(#95B7FF, 10)
    &.red
      background #FF9595
      &:hover
        background darken(#FF9595, 10)
    &.green
      background #95FFCE
      &:hover
        background darken(#95FFCE, 10)
    &.violet
      background #C995FF
      &:hover
        background darken(#C995FF, 10)
    &.yellow
      background #FFEB95
      &:hover
        background darken(#FFEB95, 10)